@import "tailwindcss";

@font-face {
  font-family: "Organo";
  src: url("../src/assets/Typo_Round_Regular_Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "Organo", sans-serif;
}

.organo {
  font-family: "Organo", sans-serif;
}
